@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model WebLapTop.Models.KhachHangValid
<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container-1">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Đổi mật khẩu</h2>
                    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
                    {
                    <form method="POST" class="register-form" id="register-form">
                        @if(ViewData["ValidPass"]!=null)
                        {
                            <p>@ViewData["ValidPass"]</p>
                         }
                        <div class="form-group">
                            Nhập mật khẩu mới
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            @Html.PasswordFor(a => a.MatKhau, new { @name = "phone", @id = "phone",required = "required", @placeholder = "Mật khẩu" })
                        </div>
                        <div class="form-group">
                            Nhập lại mật khẩu mới
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            @Html.PasswordFor(a => a.reMatKhau, new { @name = "re-pass", @id = "re-pass",required = "required", @placeholder = "Nhập lại mật khẩu" })
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit"  value="Đổi mật khẩu" />
                        </div>
                    </form>
                    }
                </div>
                <div class="signup-image">
                    <a asp-area="" asp-controller="Home" asp-action="InfoAccount" class="signup-image-link">Quay lại</a>
                </div>
            </div>
        </div>
    </section>
</div>

