<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li>
                            <a href="">Loại sản phẩm</a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Home" asp-action="ListProduct" asp-route-keyword="Laptop gaming">Laptop gaming</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="ListProduct" asp-route-keyword="Laptop văn phòng">Laptop văn phòng</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="ListProduct" asp-route-keyword="Macbook">Macbook</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Cart">Giỏ hàng - <span class="cart-amunt">Đ</span> <i class="fa fa-shopping-cart"></i></a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
                        <li>
                            @using (Html.BeginForm("ListProduct", "Home", FormMethod.Get,new {@style="display:flex" }))
                            {
                                <input type="text" name="keyword" style="padding:20px" placeholder="Từ khóa tìm..." />
                                <input type="submit" style="padding:20px" value="Tìm kiếm" />
                            }
                        </li>
                            @if (String.IsNullOrEmpty(ViewData["Log"].ToString()))
                            {
                                <li><a asp-area="" asp-controller="Home" asp-action="Login">Đăng nhập</a></li>
                            }
                            else
                            {
                                <li><a asp-area="" asp-controller="Home" asp-action="Logout">Đăng xuất</a></li>
                            }
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>

    <!-- JS -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
